﻿body {
}

h1 , h2{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    background-color:aquamarine;
    border:2px dotted blue;
    margin:20px;
    padding:5px 10px 15px 20px; 
}

p.center {
    text-align:center ;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

#a {
    color: orangered;
}
